<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.nanian.owl.pitaya.merchant.mapper.MerOrderMapper">


    <update id="updateOrder">
        update order_mast
        <set>
            <if test="orderStatus != null">order_status =#{orderStatus}</if>
        </set>
        where id = #{orderId}
    </update>
    <select id="pageOrderList" resultType="xyz.nanian.owl.pitaya.vo.OrderListVO">
        select
            om.id as orderId,
            om.order_no,
            om.order_status,
            om.total_amount,
            od.quantity as itemCount,
            od.create_time
        from order_mast om
                 join order_detail od on om.id = od.order_id
        where user_id = #{userId}
        order by od.create_time desc
    </select>
</mapper>
