<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.nanian.owl.pitaya.consumer.mapper.ProductMapper">

    <select id="selectCategory" resultType="xyz.nanian.owl.pitaya.domain.entity.CategoryDO">
        select id,parent_id,name,level,sort,description,enabled,create_time,update_time
        from category
        where enabled = 1
        order by level ,sort , id
    </select>
    <select id="selectProduct" resultType="xyz.nanian.owl.pitaya.domain.entity.ProductDO">
        select id,category_id, seller_id,name,description,price,stock,status,cover_img,create_time,update_time
        from product
        where id = #{productId}
    </select>
    <select id="selectCategoryByProductId" resultType="xyz.nanian.owl.pitaya.domain.entity.CategoryDO">
        select c.id,parent_id,c.name,level,sort,c.description,enabled,c.create_time,c.update_time
        from category c
        left join product p on c.id = p.category_id
        where p.id = #{productId}
    </select>
    <select id="selectProductImage" resultType="xyz.nanian.owl.pitaya.domain.entity.ProductImageDO">
        select id,product_id,image_url,sort
        from product_image
        where product_id = #{productId}
    </select>
    <select id="pageProduct" resultType="xyz.nanian.owl.pitaya.domain.vo.ProductVO">
        select
            p.name productName,
            c.name categoryName,
            p.price,
            p.stock,
            p.status,
            p.create_time createTime,
            p.update_time updateTime
        from product p
        left join category c on p.category_id = c.id
        where p.name like CONCAT('%',#{productName},'%')
    </select>


</mapper>
