<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.nanian.owl.admin.mapper.BizLogMapper">

<!--    &lt;!&ndash; 通用查询映射结果 &ndash;&gt;-->
<!--    <resultMap id="BaseResultMap" type="xyz.nanian.owl.admin.domain.entity.BizLogDO">-->
<!--        <id column="id" property="id" />-->
<!--        <result column="module" property="module" />-->
<!--        <result column="action" property="action" />-->
<!--        <result column="user_id" property="userId" />-->
<!--        <result column="method" property="method" />-->
<!--        <result column="success" property="success" />-->
<!--        <result column="cost" property="cost" />-->
<!--        <result column="error_msg" property="errorMsg" />-->
<!--        <result column="trace_id" property="traceId" />-->
<!--        <result column="create_time" property="createTime" />-->
<!--    </resultMap>-->

<!--    &lt;!&ndash; 通用查询结果列 &ndash;&gt;-->
<!--    <sql id="Base_Column_List">-->
<!--        id, module, action, user_id, method, success, cost, error_msg, trace_id, create_time-->
<!--    </sql>-->

</mapper>
